version: "2.0"
services:
  app:
#    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - GITHUB_TOKEN
    depends_on:
      - db
      - elasticsearch
      - redis
      - rabbitmq
      - jenkins
    ports:
      - "80:80"
      - "443:443"
      - "10001:10001"
      - "222:222"
    environment:
      ENV_NAME: spryker21
      DOMAIN_NAME: demoshop.local
      STORES: DE
      SINGLE_STORE: 'yes'
      APPLICATION_ENV: staging
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: spryker
      POSTGRES_PASSWORD: secret
      PGPASSWORD: secret
      ELASTICSEARCH_HOST: elasticsearch
      ELASTICSEARCH_PORT: 9200
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_API_PORT: 15672
      RABBITMQ_USER: spryker
      RABBITMQ_PASSWORD: secret
      JENKINS_HOST: jenkins
      JENKINS_PORT: 8080
      NEWRELIC_KEY:
      GITHUB_TOKEN: 8888yourgithubtoken8888
      GITHUB_SSH_KEY: ""
      PHP_CLI_RAM: 2048
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
      SMTP_USER: ''
      SMTP_PASS: ''
      SMTP_TLS: 'no'
      ZED_HTTPS_ON: 0
      ZED_HTTP_TO_HTTPS: 0
      YVES_HTTPS_ON: 0
      YVES_HTTP_TO_HTTPS: 0
      GLUE_HTTPS_ON: 0
      GLUE_HTTP_TO_HTTPS: 0
      SPRYKER_SSL_ENABLE: 0
      INITIAL_SPRYKER_REPOSITORY: 'https://github.com/spryker-shop/b2c-demo-shop.git'
      INITIAL_SPRYKER_BRANCH: 'tags/201907.0'
    volumes:
        - versions-sync:/versions:rw
        - static-sync:/static:rw

  db:
#    restart: always
    image: postgres:9.6
    environment:
      # POSTGRES_DB consists of the ENV_NAME and the first STORE name
      POSTGRES_DB: spryker21
      POSTGRES_USER: spryker
      POSTGRES_PASSWORD: secret

  elasticsearch:
#    restart: always
    image: elasticsearch:5.6
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"

  redis:
#    restart: always
    image: redis:3.2

  rabbitmq:
#    restart: always
    image: rabbitmq:3.7-management
    environment:
      RABBITMQ_DEFAULT_USER: spryker
      RABBITMQ_DEFAULT_PASS: secret
      RABBITMQ_DEFAULT_VHOST: /DE_staging_zed
    ports:
      - "15672:15672"

  jenkins:
#    restart: always
    build:
      context: .
      dockerfile: jenkins/Dockerfile
    environment:
      JAVA_OPTS: '-Djenkins.install.runSetupWizard=false'
      ZED_HOST: app
    ports:
      - "9090:8080"
    volumes:
      - jenkins-sync:/var/jenkins_home:rw

  mailhog:
    restart: always
    image: mailhog/mailhog
    ports:
      - 8025:8025

volumes:
  versions-sync:
    external: true
  static-sync:
    external: true
  jenkins-sync:
    external: true
