root=postmaster
mailhub={{SMTP_HOST | default('127.0.0.1')}}:{{SMTP_PORT | default('25')}}
AuthUser={{SMTP_USER}}
AuthPass={{SMTP_PASS}}
UseTLS={{SMTP_TLS | default('no')}}
FromLineOverride=yes
hostname={{YVES_HOST}}
