env:
  APPLICATION_ENV: {{APPLICATION_ENV}}

stores:
{% for store in stores %}
    - {{ store }}
{% endfor %}

command-timeout: 3600

sections:

    hidden:
        excluded: true
        maintenance-all-on:
            command: "vendor/bin/console maintenance:enable"

        maintenance-all-off:
            command: "vendor/bin/console maintenance:disable"

        maintenance-zed-on:
            command: "vendor/bin/console maintenance:enable zed"

        maintenance-zed-off:
            command: "vendor/bin/console maintenance:disable zed"

        maintenance-yves-on:
            command: "vendor/bin/console maintenance:enable yves"

        maintenance-yves-off:
            command: "vendor/bin/console maintenance:disable yves"


    environment:
        console-environment:
            command: "if [ ! -f ./config/Shared/console_env_local.php ]; then cp ./config/Shared/console_env_local.dist.php ./config/Shared/console_env_local.php ; fi"

    jenkins-down:
        jenkins-stop:
            command: "vendor/bin/console scheduler:suspend"

    cache:
        twig-cache-warmup:
            command: "vendor/bin/console twig:cache:warmer"

        navigation-cache-warmup:
            command: "vendor/bin/console navigation:build-cache"


    queue-flush:
        set-permissions:
            command: "vendor/bin/console queue:permission:set"
            stores: true

        purge-all-queues:
            command: "vendor/bin/console queue:queue:purge-all"
            stores: true

        delete-all-queues:
            command: "vendor/bin/console queue:queue:delete-all"
            stores: true

        delete-all-exchanges:
            command: "vendor/bin/console queue:exchanges:delete-all"
            stores: true

        setup-search:
            command: "vendor/bin/console setup:search"
            stores: true
            groups:
                - elastic

        update-product-labels:
            command: "vendor/bin/console product-label:relations:update"
            stores: true

        sync-data:
            command: "vendor/bin/console sync:data"

        event-trigger:
            command: "vendor/bin/console event:trigger"

        jenkins-enable:
            command: "vendor/bin/console scheduler:resume"
            stores: true

