

================================================================================
================= Spryker shop has been successfully installed =================
================================================================================
You could get it with the next links:
{% for store in stores %}
Frontend {{ store }} (Yves): http://www.{{ store }}.{{ DOMAIN_NAME }}
Backend {{ store }}   (Zed): http://os.{{ store }}.{{ DOMAIN_NAME }}
API {{ store }}       (Glue): http://glue.{{ store }}.{{ DOMAIN_NAME }}
{% endfor %}
Jenkins                    : http://os.{{ stores[0] }}.{{ DOMAIN_NAME }}:9090
RabbitMQ                   : http://os.{{ stores[0] }}.{{ DOMAIN_NAME }}:15672
================================================================================

