export ENV_NAME={{ ENV_NAME }}
export DOMAIN_NAME={{ DOMAIN_NAME }}
export CONFIGURATOR_DOMAIN_NAME={{ CONFIGURATOR_DOMAIN_NAME }}
export STORES={{ STORES }}
export SINGLE_STORE={{ SINGLE_STORE }}
export ELASTICSEARCH_PORT={{ ELASTICSEARCH_PORT }}
export HOSTNAME={{ HOSTNAME }}
export ELASTICSEARCH_HOST={{ ELASTICSEARCH_HOST }}
export RABBITMQ_USER={{ RABBITMQ_USER }}
export REDIS_HOST={{ REDIS_HOST }}
export APPLICATION_ENV={{ APPLICATION_ENV | default('staging') }}
export RABBITMQ_HOST={{ RABBITMQ_HOST }}
export PGPASSWORD={{ PGPASSWORD }}
export GITHUB_TOKEN={{ GITHUB_TOKEN }}
export POSTGRES_PORT={{ POSTGRES_PORT }}
export JENKINS_PORT={{ JENKINS_PORT }}
export JENKINS_HOST={{ JENKINS_HOST }}
export POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
export POSTGRES_USER={{ POSTGRES_USER }}
export RABBITMQ_PASSWORD={{ RABBITMQ_PASSWORD }}
export RABBITMQ_API_PORT={{ RABBITMQ_API_PORT }}
export RABBITMQ_PORT={{ RABBITMQ_PORT }}
export POSTGRES_HOST={{ POSTGRES_HOST }}
export SMTP_HOST={{ SMTP_HOST }}
export SMTP_PORT={{ SMTP_PORT }}
export SMTP_USER={{ SMTP_USER }}
export SMTP_PASS={{ SMTP_PASS }}
export SMTP_TLS={{ SMTP_TLS }}
